extends public/base.pug

block top
  .container(style="margin:100px")

block content
  .container.padding-top
    .row
      .col-md-12.text-center
        h1 404
        p
          i Zweifel sind Verräter, sie rauben uns, was wir gewinnen können, wenn wir nur einen Versuch wagen. &nbsp;
            small -- William Shakespeare
        a(title='http://shootzurich.com [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], via Wikimedia Commons', href='https://commons.wikimedia.org/wiki/File:Opera_Sechselaeutenplatz_Zuerich.jpg')
          img(alt='Opera Sechselaeutenplatz Zuerich', src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Opera_Sechselaeutenplatz_Zuerich.jpg/1024px-Opera_Sechselaeutenplatz_Zuerich.jpg', width='100%')
        p.padding-top
          a.btn.btn-lg.btn-primary(href='/') Weiter zum Anfang
