extends public/base.pug

block content
  .container.padding-top
    .row
      .col-md-12
        .text.section
          = intro

        center.section
          img(src='/img/cartoon.png', height='50%')
          br
          small
            | Image: CC BY-ND 4.0 /
            a(href='https://6aika.fi/open-data-and-interfaces/')
              | 6Aika
            |  / Paper Planes Oy

        .text.section
          = content

  .container-fluid.no-padding.bg-primary.home-content
    .container
      .row
        .col-md-12.text
          = report

  .container.padding-top
    .row
      .col-md-12
        h2 Impressum
    = logos|safe
    = impressum|safe
