extends public/base.pug

block top
  .container(style="margin:100px")

block content
  .container.padding-top
    .row
      .col-md-12
        .text.section
          = intro

        center.section
          img(src='/img/cartoon.png', height='50%')
          br
          small
            | Image: CC BY-ND 4.0 /
            a(href='https://6aika.fi/open-data-and-interfaces/')
              | 6Aika
            |  / Paper Planes Oy

        .text.section
          = participate

  .container-fluid.no-padding.bg-primary.home-content
    .container
      .row
        .col-md-12.text
          = report

          #downloads
            a(href='https://web.tresorit.com/l#Vwz_xBMjlj3YrxkjfaPjcw', target='_blank')
              h1(style='color:white')
                i.fas.fa-file-download
                | &nbsp;
                small
                  b Fact Sheet
                  br
                  sup (English)

            a(href='https://web.tresorit.com/l#fHLcvV0mXjl34gcEGIZ1gg', target='_blank')
              h1(style='color:white')
                i.fas.fa-file-download
                | &nbsp;
                small
                  b Tech Report
                  br
                  sup (PDF, 2 MB)

  .container.padding-top#impressum
    .row
      .col-md-12
        h2 Impressum
    = impressum|safe
