//- base template
doctype html
html
  head
    meta(charset='utf-8')
    title='SmartUse Beta'

    link(rel='icon' href='/meta/favicon.ico')
    link(rel='manifest' href='/meta/manifest.json')

    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    link(rel='stylesheet' href='/theme/yeti.bootstrap.css' media='screen')

    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic',rel='stylesheet')
    //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons',rel='stylesheet')

    link(href='https://use.fontawesome.com/releases/v5.7.2/css/all.css',integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr',crossorigin='anonymous',rel='stylesheet')

    link(rel="apple-touch-icon-precomposed",href="/img/apple-touch-iphone.png")
    link(rel="apple-touch-icon-precomposed",sizes="72x72",href="/img/apple-touch-ipad.png")
    link(rel="apple-touch-icon-precomposed",sizes="114x114",href="/img/apple-touch-iphone4.png")
    link(rel="apple-touch-icon-precomposed",sizes="144x144",href="/img/apple-touch-ipad-retina.png")

    link(rel='stylesheet',href='/styles/custom.css')
    link(rel='stylesheet',href='/styles/smartuse.css')

    block head
      //- additional scripts and styles

  body
    block nav
      .navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
        .container
          a.navbar-brand(href='/')
            img(src='/img/SmartUse-Logo-White.png' width='150px')
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/studies') Case Studies
              li.nav-item
                a.nav-link(href='/labs') Labs
              li.nav-item
                a.nav-link(href='/about') Hintergrund
              li.nav-item
                a.nav-link(href='/contact') Kontakt

    block top

    block content
      //- main page content

    block footer
      .container#footer
        .row
          .col-md-7.footer-info
            include snippets/contacts.pug

          .col-md-5
            p
              | Immer auf dem Laufenden bleiben?
            include snippets/subscribe.html

      .container#bottom
        .row
          .col-md-12.text-center
            ul
              li
                a(href='https://smartuse.ch') SmartUse.ch
              li
                a(href='/about#impressum') Impressum
              li
                a(href='/legal') Nutzungsbedingungen

    script(src='/vendor/jquery-3.2.1.min.js')
    script(src='/vendor/modernizr-3.5.0.min.js')
    script(src='/vendor/zepto.smoothscroll.js')

    script(src='/theme/popper.min.js')
    script(src='/theme/bootstrap.min.js')

    script(src='/scripts/util.js')
    script(src='/scripts/base.js')

    block scripts
      //- additional resources

    block analytics
      // Fathom website analytics
      script.
        !function(t,e,a,c,n,o){e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},n=t.createElement("script"),o=t.getElementsByTagName("script")[0],n.async=1,n.src="//cdn.usefathom.com/tracker.js",n.id="fathom-script",o.parentNode.insertBefore(n,o)}(document,window,0,"fathom"),fathom("set","siteId","ODZDJJPO"),fathom("trackPageview");
