//- base template
doctype html
html
  head
    meta(charset='utf-8')
    title='SmartUse Beta'

    link(rel='icon' href='/meta/favicon.ico')
    link(rel='manifest' href='/meta/manifest.json')

    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    link(rel='stylesheet' href='/theme/yeti.bootstrap.css' media='screen')

    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic',rel='stylesheet')
    //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons',rel='stylesheet')

    link(href='https://use.fontawesome.com/releases/v5.7.2/css/all.css',integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr',crossorigin='anonymous',rel='stylesheet')

    link(rel="apple-touch-icon-precomposed",href="/img/apple-touch-iphone.png")
    link(rel="apple-touch-icon-precomposed",sizes="72x72",href="/img/apple-touch-ipad.png")
    link(rel="apple-touch-icon-precomposed",sizes="114x114",href="/img/apple-touch-iphone4.png")
    link(rel="apple-touch-icon-precomposed",sizes="144x144",href="/img/apple-touch-ipad-retina.png")

    link(rel='stylesheet',href='/styles/custom.css')
    link(rel='stylesheet',href='/styles/smartuse.css')

    block head
      //- additional scripts and styles

  body
    block nav
      .navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
        .container
          a.navbar-brand(href='/')
            img(src='/img/SmartUse-Logo-White.png' width='150px')
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/#home-projects') Case Studies
              li.nav-item
                a.nav-link(href='/about') Hintergrund
              li.nav-item
                a.nav-link(href='#footer') Kontakt

    block top

    block content
      //- main page content

    block footer
      .container#footer
        .row
          .col-md-7.footer-info
            // include:markdown-it index.md
            p
              | SmartUse ist ein Kooperationsprojekt der Verein Metropolitanraum Z체rich
            p
              img(src='/img/logo_MK_black.png' width='200px')

            p(style='margin-top:3em')
              a(href='https://www.metropolitanraum-zuerich.ch/kontakt.html', class='contact')
                i.far.fa-envelope-open
                | &nbsp; Gesch채ftsstelle
              &nbsp;
              a(href='mailto:info@smartuse.ch', class='contact')
                i.far.fa-envelope-open
                | &nbsp; Technischer support

          .col-md-5
            p
              | Immer auf dem Laufenden bleiben?
            //
              p.small
                i Einfach f&uuml;r unseren Newsletter anmelden!
            form(method='post', data-name='Immer auf dem Laufenden bleiben? Einfach f체r unseren Newsletter anmelden:')
              .form-fields
                p
                  input.form-control(name='EMAIL', placeholder='E-Mail-Adresse', required='', style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;', type='email')
                p
                  input.form-control(name='FNAME', placeholder='Vorname', type='text', style='width:49%;display:inline')
                  input.form-control(name='LNAME', placeholder='Nachname', type='text', style='width:49%;display:inline')
                p
                  button.btn.btn-secondary(type="submit") Anmelden
          //
            .team-footer
              h5 Das TEAM
              ul
                li
                  a(href='http://www.hosoyaschaefer.com') Hosoya Schaefer Architects
                li
                  a(href='https://www.datalets.ch') Datalets.ch
                li
                  a(href='https://www.ethz.ch') ETH Z체rich

      .container#bottom
        .row
          .col-md-12.text-center
            ul
              li
                a(href='https://smartuse.ch') SmartUse.ch
              li
                a(href='/about#impressum') Impressum
              li
                a(href='/legal') Nutzungsbedingungen

    script(src='/vendor/jquery-3.2.1.min.js')
    script(src='/vendor/modernizr-3.5.0.min.js')

    script(src='/theme/popper.min.js')
    script(src='/theme/bootstrap.min.js')

    script(src='/scripts/util.js')
    script(src='/scripts/base.js')

    block scripts
      //- additional resources
