extends public/base.pug

block top
  .container(style="margin:100px")

block content
  .container.padding-top
    .row
      .col-md-12
        .text.section
          = participate

  .container.padding-top#impressum
    .row
      .col-md-12
        h2 Impressum
    = impressum|safe
