<section id="mc4wp_form_widget-3" class="widget widget_mc4wp_form_widget"><h2 class="widget-title">Immer auf dem Laufenden bleiben? Einfach für unseren Newsletter anmelden:</h2><script>(function() {
	if (!window.mc4wp) {
		window.mc4wp = {
			listeners: [],
			forms    : {
				on: function (event, callback) {
					window.mc4wp.listeners.push({
						event   : event,
						callback: callback
					});
				}
			}
		}
	}
})();
</script>
<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-39" method="post" data-id="39" data-name="Immer auf dem Laufenden bleiben? Einfach für unseren Newsletter anmelden:"><div class="mc4wp-form-fields"><p>
	<input name="EMAIL" placeholder="E-Mail-Adresse" required="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" type="email">
  	<input name="FNAME" placeholder="Vorname" type="text">
    <input name="LNAME" placeholder="Nachname" type="text">
</p>

<p>
    <label>Ich bin...</label>
    <label>
        <input name="INTERESTS[0243335d6a]" value="ddd3e53dbd" type="radio"> <span>Interessierte/r Bürger/in</span>
    </label>
    <label>
        <input name="INTERESTS[0243335d6a]" value="a78078ab45" type="radio"> <span>Planerin/Planungsnah</span>
    </label>
    <label>
        <input name="INTERESTS[0243335d6a]" value="1da0a2e865" type="radio"> <span>Kanton/Stadt/Gemeinde</span>
    </label>
</p>

<p>
	<input value="Anmelden" type="submit">
</p></div><label style="display: none !important;">Leave this field empty if you're human: <input name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" type="text"></label><input name="_mc4wp_timestamp" value="1535634450" type="hidden"><input name="_mc4wp_form_id" value="39" type="hidden"><input name="_mc4wp_form_element_id" value="mc4wp-form-1" type="hidden"><div class="mc4wp-response"></div></form>
