extends public/base.pug

block head
  script project_id=#{featured.id}; project_path='/uploads';

block content
  .o-grid.featured
    .o-grid__cell.o-grid__cell--width-20
    .o-grid__cell
      .gallery
    .o-grid__cell.o-grid__cell--width-20

  .o-grid.featured
    .o-grid__cell.o-grid__cell--width-20
    .o-grid__cell.page-content
      b
        !=featured.summary
      p
        !=featured.details
    .o-grid__cell.o-grid__cell--width-20

  .o-grid.home-page
    .o-grid__cell.o-grid__cell--width-20
    .o-grid__cell.page-content
      !=content
      hr
    .o-grid__cell.o-grid__cell--width-20

  .o-grid
    .o-grid__cell.o-grid__cell--width-20
    .o-grid__cell.project-list
      each project in projects
        .c-card
          a(href='/project/{{ project.id }}')
            .c-card__header
              //- img(src='/img/usermap.jpg',align='right')
              h2.c-heading
                =project.title
              each user in project.users
                span= user.organisation
            .c-card__body
              .c-paragraph
                =project.summary
    .o-grid__cell.o-grid__cell--width-20

  hr
