extends public/base.pug

block head
  if featured
    script project_id=#{featured.id}; project_path='/uploads';

block content
  .o-grid
    .o-grid__cell.o-grid__cell--width-20
    .o-grid__cell.page-content.home-content
      !=content
    .o-grid__cell.o-grid__cell--width-20

  a.o-grid.featured(href='/project/{{ featured.id }}')
    .o-grid__cell.o-grid__cell--width-20
    .o-grid__cell
      .gallery
      h5
        !=featured.title
      b
        !=featured.summary
    .o-grid__cell.o-grid__cell--width-20

  .o-grid
    .o-grid__cell.o-grid__cell--width-20
    .o-grid__cell.page-content
      center
        input.search(name='q',placeholder='Search ...')
      hr
    .o-grid__cell.o-grid__cell--width-20

  .o-grid
    .o-grid__cell.o-grid__cell--width-20
    .o-grid__cell.project-list
      each project in projects
        .c-card
          a(href='/project/{{ project.id }}')
            .c-card__header
              img.project-thumb(src='/screenshots/{{ project.thumb() }}',align='left')
              h2.c-heading
                =project.title
              each user in project.users
                span= user.organisation
            if project.summary
              .c-card__body
                .c-paragraph
                  =project.summary
    .o-grid__cell.o-grid__cell--width-20

  hr
