extends public/base.pug

block scripts
  script(src='/scripts/front.js')
  script(src='/vendor/glider.js')

block head
  link(href='/vendor/glider.min.css',rel='stylesheet')
  //link(href='/vendor/gallery.prefixed.css',rel='stylesheet')

block content
  .container-fluid
    .row
      .col.center
        .glider-contain#featured
        //
          .dots
          a.glider-prev «
          a.glider-next »

  .container.padding-top
    .row.justify-content-md-center
      .col-md-8
        .text.section#welcome
          = headline

  .container.padding-top
    .row.justify-content-md-center
      .col-md-8.center
        form(action='/search')
          i.icon.fa.fa-search
          input.form-control.form-control-lg.search(name='q',placeholder='Suchen ...')

  .container#home-projects
    .row.padding-top.justify-content-md-center
      .col-md-8
        .text.section
          = studies
    .row(project-category='case-study')
    .row.padding-top.justify-content-md-center
      .col-md-8.text-center
        a.btn.btn-lg.btn-secondary(href='/labs') Weitere Projekte ...

  .container-fluid.bg-primary.no-padding.home-content
    img.img-fluid.w-100(src='/img/SmartUse_header.jpg' alt='SmartUse Header')
    .container
      .row.home-symbols
        .col-md-4(style='background-image:url(/img/clogo-1.png)')
          h5 Planungsnahe
          small Architekturbüros, Planungsbüros
        .col-md-4(style='background-image:url(/img/clogo-2.png)')
          h5 Planer
          small Kantone, Gemeinden, Städte
        .col-md-4(style='background-image:url(/img/clogo-3.png)')
          h5 Zivilgesellschaft
          small Vereine, Initiative, Makers
      .row
        .col-md-12.text
          = about

  link(href='https://assets.calendly.com/assets/external/widget.css', rel='stylesheet')
  script(src='https://assets.calendly.com/assets/external/widget.js', type='text/javascript')
  script(type='text/javascript').
    Calendly.initBadgeWidget({ url: 'https://calendly.com/meet-smartuse/30min', text: 'Termin vereinbaren 📞', color: '#00a2ff', textColor: '#ffffff', branding: true });
