extends public/base.pug

block content
  .container-fluid.no-padding.padding-bottom
    img.img-fluid.w-100(src='/img/SmartUse_header.jpg' alt='SmartUse Header')
  .container#about
    // content
    .row
      .col-md-12
        h1
          | SMARTUSE
          small
            br
            | Die funktionale Region
    hr
    .row
      .col-md-12
        .text.section
          h3 Die Idee
          p
            | Unser Ziel ist ein Werkzeug und Netzwerk fu&#x308;r Planer (Kantone, Gemeinden, Sta&#x308;dte),
            | &ldquo;Planungsnahe&rdquo;
            | (Architekturbu&#x308;ros, Planungsbu&#x308;ros) und die Zivilgesellschaft. Es bringt zusammen, zeigt auf
            | und
            | ermo&#x308;glicht so nachhaltige Ansa&#x308;tze fu&#x308;r den Wirtschafts- und Lebensraum zu gestalten und als
            | Bindeglied zwischen Top-down Planung und Bottom-up Partizipation zu agieren.
          p
        .text.section
          p
            | &laquo;Smart&raquo; vernetzen (Akteure, Daten, Werkzeuge, Fragen), &laquo;Smart&raquo; verdichten,&nbsp;
            b &laquo;Smart&raquo; nutzen,&nbsp;
            | statt teuer bauen. Das Projekt &laquo;Smart Use&raquo; ist eine laufende Kooperation zwischen der
            | Metropolitankonferenz Zu&#x308;rich und der ARGE Smart Use, bestehend aus Joris van Wezemael, Hosoya
            | Schaefer Architects und Datalets.ch.
    hr
    .row
      .col-md-12
        h3 DAS TEAM
    .row
      .col-md-4
        h4
          a(href='http://www.hosoyaschaefer.com' target='_blank') Hosoya Schaefer Architects
        ul
          li Markus Schaefer
          li Nils Havelka
          li Thorben Westerhuys
      .col-md-4
        h4
          a(href='https://www.datalets.ch' target='_blank') Datalets.ch
        ul
          li Oleg Lavrovsky
      .col-md-4
        h4
          a(href='https://www.ethz.ch' target='_blank') ETH Zürich
        ul
          li Joris van Wezemael
