extends public/base.pug

block content
  .container
    .row
      .col-md-12
        .text.section
          h1 Mitmachen!
          p
            | Velit enim ex commodo nostrud aute ullamco mollit reprehenderit eiusmod irure dolore. Elit labore magna occaecat aliqua ex eu fugiat ullamco esse enim. Esse tempor exercitation non duis est. Officia Lorem consequat minim duis laborum laboris quis esse mollit officia consequat pariatur fugiat anim. Eu qui exercitation pariatur aute nisi sunt esse sint consequat esse sunt laboris. Et ea mollit et do nostrud pariatur aliquip commodo exercitation. Elit est excepteur laborum ipsum officia cillum nostrud cupidatat sit officia aliqua eu. Enim exercitation fugiat aliquip laborum proident qui nulla consectetur. Ipsum irure quis proident aliqua duis anim aute fugiat. Lorem aliquip sunt velit officia incididunt. Sit laboris fugiat irure cillum quis ut pariatur sunt adipisicing. Enim eu anim laborum veniam cupidatat eiusmod eiusmod dolor Lorem labore enim amet pariatur ea. Voluptate veniam enim et voluptate eu cillum anim cillum dolore nostrud esse. Ut Lorem consectetur cillum nisi sit. Aute elit veniam ex laborum aliqua enim dolore ex cupidatat ipsum eu. Lorem cillum magna esse irure mollit culpa eu reprehenderit aliqua est laboris.
          p
        .text.section
          h2 Unterstützen
          p
            | Exercitation proident sit labore duis culpa ut. Dolore nostrud esse nisi duis ut sint magna ea id Lorem commodo officia aliqua. Id minim velit pariatur aliquip voluptate. Consequat esse ex irure excepteur laboris. Minim adipisicing quis Lorem ea non Lorem. Culpa dolore reprehenderit sit enim adipisicing consectetur officia occaecat enim ut amet. Dolor cillum quis ipsum sunt occaecat officia nisi id ea amet reprehenderit minim pariatur tempor. Anim sint amet tempor dolor consequat irure duis labore id ipsum commodo enim. Lorem reprehenderit enim voluptate culpa adipisicing velit ex dolore deserunt consequat qui adipisicing cillum adipisicing. Adipisicing est esse elit mollit magna quis anim do dolor deserunt occaecat cupidatat veniam. Ullamco laboris culpa ipsum cupidatat exercitation proident deserunt magna ullamco enim anim irure. Sunt aliquip aliqua elit minim cupidatat occaecat ad culpa ipsum ad eiusmod labore. Occaecat esse aute proident elit in officia ullamco eu. Occaecat adipisicing et est in fugiat duis cillum est esse veniam in aliqua. Ullamco aliqua veniam occaecat nulla ad. Ea tempor ex sint culpa aliquip anim aliquip culpa veniam nulla.
