extends public/base.pug

block scripts
  script(src='/scripts/front.js')

block content
  .container.padding-top.padding-bottom
    .row
      .col-md-12.center
        form(action='/search')
          i.icon.fa.fa-search
          input.form-control.form-control-lg.search(name='q',placeholder='Suchen ...')

  .container
    .row
      .col-md-12.center
        h2 Recherche
    #projects-search.row(style='display:none')
      .col-md-12.text-center
        i Zur Zeit gibt es hier keine Ergebnisse.
