*.sh

notebooks/data

uploads/
screenshots/

node_modules/
bower_components/

npm-debug.log
package-lock.json

/env/
.env*

yarn-error.log
.ipynb_checkpoints
__pycache__/
.DS_Store
.Rhistory

*.mp4
*.sqlite

.pytest_cache/
.report.json
