# Adjust as necessary and rename as .env

FLASK_APP=app.py
FLASK_DEBUG=1
FLASK_ENV=development

SECRET_KEY=1234567890
MAPBOX_ID=
MAPBOX_TOKEN=

DATABASE_URI=postgres://postgres:postgres@postgres:5432/smartuse
