# Adjust as necessary and rename as .env

FLASK_APP=cvdgem.app
FLASK_ENV=development
FLASK_DEBUG=1

SECRET_KEY=1234567890
MAPBOX_ID=
MAPBOX_TOKEN=

# Example for a local Postgres DB called "cvdgem"
#DATABASE_URI=postgres://postgres:postgres@postgres:5432/cvdgem

# Example for a local SQLite DB
DATABASE_URI=cvdgem.sqlite
