[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
geojson = "*"
"psycopg2-binary" = "*"
pypugjs = "*"
Flask = "*"
Flask-Admin = "*"
Flask-SQLAlchemy = "*"
Markdown = "*"
flask-migrate = "*"
gunicorn = "*"
pillow = "*"
arrow = "*"
flask-flatpages = "*"
flask-api = "*"
python-dotenv = "*"
