doctype html
html
  head
    meta(charset='utf-8')
    title=meta.title
    script(src='/vendor/zepto-1.2.0.min.js')
    script(src='/vendor/modernizr-3.5.0.min.js')
    script(src='/vendor/riot+compiler-3.8.min.js')
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js')
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css' rel='stylesheet')
    link(href='/styles/normalize.css' rel='stylesheet')
    link(href='/styles/main.css' rel='stylesheet')
    link(href='/styles/custom.css' rel='stylesheet')
    script(src='/scripts/main.js')
  body
    h1
      =meta.title
    !=content
    div.basemap#testmap
    sample
    script(type='riot/tag' src='tags/sample.tag')
