doctype html
html
  head
    meta(charset='utf-8')
    title=meta.title
    script(src='/vendor/zepto-1.2.0.min.js')
    script(src='/vendor/modernizr-3.5.0.min.js')
    link(href='/styles/blaze-3.2.2.min.css' rel='stylesheet')
    link(href='/styles/custom.css' rel='stylesheet')
  body
    !=content
