doctype html
html
  head
    meta(charset='utf-8')
    title=meta.title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js')
    script(src='/vendor/modernizr-3.5.0.min.js')
    script(src='https://cdn.jsdelivr.net/npm/riot@3.8/riot+compiler.min.js')
    link(href='/styles/normalize.css' rel='stylesheet')
    link(href='/styles/main.css' rel='stylesheet')
    link(href='/styles/custom.css' rel='stylesheet')
  body
    !=content
