<div class="row text-center">
  <div class="col-md-4">
    <h4>
      <a href="http://www.hosoyaschaefer.com">Hosoya Schaefer Architects</a>
    </h4>
    <ul style="text-align:left">
      <li>Markus Schaefer</li>
      <li>Viktoria Molnar</li>
      <li>Thorben Westerhuys</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4><a href="https://www.datalets.ch">Datalets.ch</a>
    </h4>
    <ul style="margin-left:-3em">
      <li>Oleg Lavrovsky</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4><a href="https://www.ethz.ch">ETH Zürich</a>
    </h4>
    <ul>
      <li>Joris van Wezemael</li>
    </ul>
  </div>
</div>
