{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>SmartUse Admin</h1>
            <p class="lead">
                A backend to publish geospatial Data Packages- an application that allows us to connect and manage spatial information, then configure and export it to the SmartUse frontend application through an API based on the <a href="http://frictionlessdata.io">Frictionless Data</a> standard.
            </p>
            <p>Projects can be accessed and their models and viewed by clicking on the <strong>SmartUse</strong> logo on the home page. This is for the time beingi the primary navigation between projects. There is also a link on the home page to an online <strong>API platform</strong> for developers. The frontend is built on this basis, and other apps could also connect to SmartUse with the API.</p>
            <p>The Web API can be used to access data about <a href="/api/projects">Projects</a> and <a href="/api/resources">Resources</a>.</p>
            <h3>User Guide</h3>
            <p><b>Note:</b> you can use our online form at <b><a href="https://smartuse.ch/upload">smartuse.ch/upload</a></b> to send us PDF and other formats for processing. The following instructions detail how to manage your data publication in this backend.</p>
            <p>On the home page there is a link to an <a href="http://alpha.smartuse.ch/admin" target="_blank" rel="noreferrer nofollow">Admin backend</a> where projects and resources are defined.</p>
            <p>Start by creating a <strong>User</strong> for every organization, with links to logos etc. The e-mail address is used to look for a <a href="http://en.gravatar.com/" target="_blank" rel="noreferrer nofollow">Gravatar</a> image.</p>
            <p>Then <a href="https://alpha.smartuse.ch/admin/project/new/?" target="_blank" rel="noreferrer nofollow">create</a> a <strong>Project</strong> which defines the study or location of interest. This is where the main documentation from the customer will reside. Use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#table-of-contents" target="_blank" rel="noreferrer nofollow">Markdown</a> formatting.</p>
            <p><a href="https://alpha.smartuse.ch/admin/resource/new/?" target="_blank" rel="noreferrer nofollow">Create</a> a <strong>Resource</strong> for every visualization, map, image, or file shared with public visitors of the project. These will be shown above the project's description. Select the appropriate project, add a description and choose from one of the <code>Dataformats</code> supported:</p>
            <ul>
            <li><strong>png</strong> - a PNG (lossless) formatted image file</li>
            <li><strong>jpg</strong> - a JPEG (lossy) formatted image file</li>
            <li><strong>geojson</strong> - Web-optimized geospatial data - see <a href="http://geojson.org/" target="_blank" rel="noreferrer nofollow">http://geojson.org/</a></li>
            <li><strong>datapackage</strong> - a geospatial data package - see <a href="https://frictionlessdata.io/" target="_blank" rel="noreferrer nofollow">https://frictionlessdata.io/</a></li>
            <li><strong>embed</strong> - a Web-published map for use in an IFRAME</li>
            </ul>
            <p>Data files for any of the formats above can be uploaded in the <b>Data</b> tab, and then linked with the <code>path</code>. For example, if you uploaded a GeoJSON file called <code>pendlerorte.geojson</code> into a <em>test_project/data</em> folder, you could just enter <code>/uploads/test_project/data/pendlerorte.geojson</code>.</p>
            <p>Use the <strong>Features</strong> map to draw a polygon representing the location and shape of your data. In the future this will be automatically generated from supported formats and providers. </p>
            </p>
            <p><i>
            This project is being developed by the <a hrefe="mailto:info@smartuse.ch">SmartUse ARGE</a> team using GeoAlchemy, Flask and PostGIS.
            </i></p>
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Home</a>
        </div>
    </div>
</div>
{% endblock body %}
