{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Welcome!</h1>
            <p class="lead">
                This is a backend to publish geospatial Data Packages- an application that allows us to connect and manage spatial information, then configure and export it to the frontend applications through an API based on the <a href="http://frictionlessdata.io">Frictionless Data</a> standard.
            </p>
            <p>Projects can be accessed and their models and viewed by clicking on the <strong>SmartUse</strong> logo on the home page. This is for the time beingi the primary navigation between projects. There is also a link on the home page to an online <strong>API platform</strong> for developers. The frontend is built on this basis, and other apps could also connect to SmartUse with the API. The Web API can be used to access data about <a href="/api/projects">Projects</a>.</p>

            <p><i>This project is developed and supported by <a hrefe="https://smartuse.ch">SmartUse GmbH</a>.</i></p>

            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Frontend</a>

            <h3>User Guide</h3>
            <p>The following instructions detail how to manage your data publication in the Smart Use backend.</p>
            <ol>
                <li>Start by creating a <strong>User</strong> for every organization, with links to logos etc. The e-mail address is used to look for a <a href="http://en.gravatar.com/" target="_blank" rel="noreferrer nofollow">Gravatar</a> image.</li>
                <li><a href="/admin/project/new/?" target="_blank" rel="noreferrer nofollow">Create</a> a <strong>Project</strong> which defines the study or location of interest. This is where the main documentation about the use case will reside. <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#table-of-contents" target="_blank" rel="noreferrer nofollow">Markdown</a> formatting is supported for the description.</li>
                <li><a href="/admin/resource/new/?" target="_blank" rel="noreferrer nofollow">Create</a> a <strong>Resource</strong> for every visualization, map, image, or file shared with public visitors of the project. These will be shown above the project's description. Select the appropriate project, add a description.</li>
            </ol>
            <p>The following <b>data formats</b> are currently supported:</p>
            <ul>
                <li><strong>png/gif</strong> - a lossless image file</li>
                <li><strong>jpeg</strong> - a lossy compressed image file</li>
                <li><strong>geojson</strong> - Web-optimized geospatial data - see <a href="http://geojson.org/" target="_blank" rel="noreferrer nofollow">http://geojson.org/</a></li>
                <li><strong>datapackage</strong> - a geospatial data package - see <a href="https://frictionlessdata.io/" target="_blank" rel="noreferrer nofollow">https://frictionlessdata.io/</a></li>
                <li><strong>embed</strong> - a public, Web-published embedded map</li>
            </ul>
            <p>Data files for any of the formats above can be uploaded in the <b>Data</b> tab, and then linked with the <code>path</code>. For example, if you uploaded a GeoJSON file called <code>pendlerorte.geojson</code> into a <em>test_project/data</em> folder, you could just enter <code>/uploads/test_project/data/pendlerorte.geojson</code>. Just click on the file listing to visit the location at the appropriate URL.</p>
            <!-- <p>Use the <strong>Features</strong> map to draw a polygon representing the location and shape of your data. In the future this will be automatically generated from supported formats and providers. </p> -->
            </p>
        </div>
    </div>
</div>
{% endblock body %}
