p
  | Ein Kooperationsprojekt des Vereins Metropolitanraum Zürich
p
  img(src='/img/logo_MK_black.png' width='200px')

p(style='margin-top:0em')
  a(href='https://www.metropolitanraum-zuerich.ch/kontakt.html', class='contact')
    i.far.fa-envelope-open
    | Geschäftsstelle &nbsp;
  &nbsp;
  a(href='mailto:info@smartuse.ch', class='contact')
    i.far.fa-envelope-open
    | &nbsp; Technischer support

p(style='margin-top:1em')
  | Weiter entwickelt auf&nbsp;
  a(href='https://cividi.ch', target='_blank', style='color:black; text-decoration:underline')
    | cividi.ch
