p
  | Ein Kooperationsprojekt des 
  a(href='https://www.metropolitanraum-zuerich.ch/', class='contact')
    | Vereins Metropolitankonferenz Zurich
  br
  | Aktuell weiterentwickelt durch&nbsp;
  a(href='https://www.engagement-migros.ch/de/pioniere/cividi', class='contact')
    | Engagement Migros
  | als&nbsp;
  a(href='https://cividi.ch', class='contact')
    | CIVIDI
p
  a(href='https://www.metropolitanraum-zuerich.ch/kontakt.html', class='contact')
    img(src='/img/logo_MK_black.png' width='200px' alt='[logo]' style="margin-bottom:20px")
  a(href='https://www.engagement-migros.ch/de/pioniere/cividi', class='contact')
    img(src='/img/logo_em_german@2x.png' hspace='40' width='260px' alt='[logo]')
