p
  | Ein Kooperationsprojekt des 
  a(href='https://www.metropolitanraum-zuerich.ch/', class='contact')
    | Vereins Metropolitankonferenz Zurich
p
  a(href='https://www.metropolitanraum-zuerich.ch/kontakt.html', class='contact')
    img(src='/img/logo_MK_black.png' width='200px' alt='[logo]')
