.container#footer
  .row
    .col-md-7.footer-info
      include snippets/contacts.pug

    .col-md-5.footer-newsletter
      p
        | Immer auf dem Laufenden bleiben?
      p
        a(href="https://smartuse.us17.list-manage.com/subscribe/post?u=4ffb5e217856ee5ca6e021c83&id=29f718ecf0" class="btn btn-secondary") 
          | Newsletter abonnieren
      //- include snippets/subscribe.pug

.container#bottom
  .row
    .col-md-12.text-center
      ul
        li
          a(href='/contact', class='contact') Support
        li
          a(href='/about#impressum') Impressum
        li
          a(href='/legal') Nutzungsbedingungen
        li
          a(href='https://github.com/smartuse') Open Source
