.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
  .container
    a.navbar-brand(href='/')
      img(src='/img/SmartUse-Logo-White.png' width='150px' alt='Smart Use Logo' title='Home')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav
        // .justify-content-center.d-flex.flex-fill
        li.nav-item
          a.nav-link(href='/studies') Case Studies
        li.nav-item
          a.nav-link(href='/labs') Labs
        li.nav-item
          a.nav-link(href='/about') Hintergrund
        li.nav-item
          a.nav-link(href='/faq') Fragen
        li.nav-item
          a.nav-link(href='/contact') Kontakt
