.toast-container(aria-live="polite", aria-atomic="true")
  .toast.autofullscreen(role='alert', aria-live='assertive', aria-atomic='true', data-autohide='true', data-delay='4000')
    .toast-body
      p Vollbildmodus aktiviert.
      .btn-group
        .btn.btn-primary(type='button', data-dismiss='toast') &nbsp; OK &nbsp;
        .btn.btn-default.x-fullscreen(type='button', data-dismiss='toast') Zurück
