/* =============================================================================
  RESETS
============================================================================= */

html,
body,
div,
h1,
p,
a,

.videocontainer 
{
	padding: 0;
	margin: 0;
   	display: block;
}

.videocontainer video 
{
    width: 100%;
	height: auto;
	z-index: -100;
}

#videooverlay {
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: #000;
	opacity: 0.4;
}

/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
  background-color: #050505;
}

body {
  font-family: "Roboto", sans-serif;
}

/* =============================================================================
  STYLING
============================================================================= */

#offscreen {
	position: fixed;
	left: -1000px;
	top: -1000px;
}

#logoCol {
	display: block;
	position: fixed;
	width: 270px;
	height: 100%;
	color: #fff;
	display: block;
	float: left;
	left: 12%;
	top: 0;
	z-index: 100;
}

#logo {
	width: 100%;
	height: 70px;
	background: url("media/SmartUse-Logo.png") left center no-repeat;
	margin: 65px auto 30px auto;
}

#logoCol #signup p {
	font-family: Roboto, Helvetica, Arial;
	font-size: 14px;
	font-style: italic;
	line-height: 1.4em;
}

#signup_logo {
	display: inherit;
}

#signup2 {
	display: none;
}

#mainCol {
	font-family: "Roboto","Helvetica",Arial;
	font-size: 14px;
	display: block;
	position: absolute;
	float: right;
	width: 40%;
	max-width: 600px;
	top: 0;
	right: 20%;
	color: #fff;
	line-height: 1.6em;
	height: 100%;
}

#mainCol .text h3, #mainCol #footer h3 {
	margin: 15px 0 5px 0px;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 900;
	clear: both;
}

#mainCol .section {
	margin-top: 40px;
}

#mainCol .teaser {
	margin-top: 170px;
}

#mainCol .teaser p {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 16px;
}

#footer {
	margin-top: 50px;
	width: 100%;
}

#footer .partner {
	display: block;
	float: left;
	width: 30%;
	max-width: 200px;
	margin-right: 3%;
}

#footer .partner ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer h4 {
	margin: 20px auto 5px auto;
}

#footer a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding-bottom: 2px;
}

#footer a:hover {
	border-bottom: 1px solid #fff;
	padding-bottom: 1px;
}

#footer .full-width {
	color: #fff;
	display: block;
	text-decoration: none;
	clear: both;
	padding-bottom: 40px;
	width: 100%;
	height: 20px;
}

#footer .full-width a {
	font-weight: bold;
}

/* iPhone 4 to 8 -- Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	#logoCol {
		display: block;
		position: relative;
		width: 265px;
		height: 0px;
		display: block;
		clear: both;
		left: 0;
		right: 0;
		top: -180px;
		z-index: 100;
	}

	#logo {
		width: 100%;
		height: 70px;
		background: url("media/SmartUse-Logo.png") left center no-repeat;
		margin: 40px -90px 30px auto;
	}

	#signup_logo {
		display: none;
	}

	#signup2 {
		margin-top: 20px;
		display: inherit;
	}

  	#mainCol {
  		display: block;
		position: relative;
		clear: both;
		width: 100%;
		top: 0;
		left: 0;
		color: #fff;
		line-height: 1.6em;
  	}

  	#mainCol .teaser {
		margin-top: 0;
	}

	#mainCol #signup2, #mainCol .text p, #mainCol .text h3, #footer h3, #footer .partner, #footer .full-width {
		padding-left: 15px;
		padding-right: 15px;
	}

  	#footer {
		position: relative;
		margin-top: 100px;
		margin-bottom: 50px;
	}

}

/* iPhone 6+ to 8+ -- Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {

  	#logoCol {
		display: block;
		position: relative;
		width: 265px;
		height: 0px;
		display: block;
		clear: both;
		left: 0;
		right: 0;
		top: -180px;
		z-index: 100;
	}

	#logo {
		width: 100%;
		height: 70px;
		background: url("media/SmartUse-Logo.png") left center no-repeat;
		margin: 40px -90px 30px auto;
	}

	#videooverlay {
		right: 0;
		margin-right: 0;
	}

	#signup_logo {
		display: none;
	}

	#signup2 {
		margin-top: 20px;
		display: inherit;
	}

  	#mainCol {
  		display: block;
		position: relative;
		clear: both;
		width: 100%;
		top: 0;
		left: 0;
		color: #fff;
		line-height: 1.6em;
  	}

  	#mainCol .teaser {
		margin-top: 0;
	}

	#mainCol #signup2, #mainCol .text p, #mainCol .text h3, #footer h3, #footer .partner, #footer .full-width {
		padding-left: 15px;
		padding-right: 15px;
	}

  	#footer {
		position: relative;
		margin-top: 100px;
		margin-bottom: 50px;
	}

}

/* iPhone X -- Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

  	#logoCol {
		display: block;
		position: relative;
		width: 265px;
		height: 0px;
		display: block;
		clear: both;
		left: 0;
		right: 0;
		top: -180px;
		z-index: 100;
	}

	#logo {
		width: 100%;
		height: 70px;
		background: url("media/SmartUse-Logo.png") left center no-repeat;
		margin: 40px -90px 30px auto;
	}

	#videooverlay {
		right: 0;
		margin-right: 0;
	}


	#signup_logo {
		display: none;
	}

	#signup2 {
		margin-top: 20px;
		display: inherit;
	}

  	#mainCol {
  		display: block;
		position: relative;
		clear: both;
		width: 100%;
		top: 0;
		left: 0;
		color: #fff;
		line-height: 1.6em;
  	}

  	#mainCol .teaser {
		margin-top: 0;
	}

	#mainCol #signup2, #mainCol .text p, #mainCol .text h3, #footer h3, #footer .partner, #footer .full-width {
		padding-left: 15px;
		padding-right: 15px;
	}

  	#footer {
		position: relative;
		margin-top: 100px;
		margin-bottom: 50px;
	}

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	#videooverlay {
		right: 0;
		margin-right: 0;
	}


  	#mainCol .teaser {
		margin-top: 300px;
	}

  	#footer {
		position: relative;
		margin-top: 100px;
		margin-bottom: 50px;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	#videooverlay {
		right: 0;
		margin-right: 0;
	}

  	#mainCol {
		width: 55%;
		max-width: 600px;
		top: 0;
		right: 5%;
	}

  	#logoCol {
		display: block;
		position: absolute;
		width: 270px;
		height: 100%;
		color: #fff;
		display: block;
		float: left;
		left: 12%;
		top: 0;
		z-index: 100;
	}

	#logo {
		width: 100%;
		height: 70px;
		background: url("media/SmartUse-Logo.png") left center no-repeat;
		margin: 65px auto 30px auto;
	}

  	#signup_logo {
		display: none;
	}

	#signup2 {
		margin-top: 20px;
		display: inherit;
	}

  	#mainCol .teaser {
		margin-top: 220px;
	}

  	#footer {
		position: relative;
		margin-top: 100px;
		margin-bottom: 50px;
	}

}