body {
  font-family: "Roboto", sans-serif;
}
.c-link-author {
  padding: 30px 10px 20px 20px;
}
.c-link-author img {
    height: 100%;
    width: 80%;
    max-width: 150px;
}
.c-link--brand {
  position: fixed;
  top: 10px;
  right: 10px;
  transform: scale(0.7);
  background: white;
}
.logo {
	background: url("/img/SmartUse-Logo.png") left center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 193px;
	height: 70px;
	margin: 0px;
	font-size: 0px;
	margin-top: 15px;
}

.basemap {
  width: 100%; height: 550px;
  background-color: lightgreen;
}

.o-page-header {
	margin-bottom: 1em;
	padding-bottom: 1em;

  position: absolute;
  right: 2em;
}

.nav button {
	float: right;
	padding: 5px 15px;
	margin-right: 5px;
	margin-bottom: 15px;
	font-size: 120%;
	border: 1px solid #999;
	background: white;
}

.page-meta h1 {
	margin-bottom: 0px;
}
.page-meta .author {
	margin-top: 0px;
}

p.author {
  margin-top: 0;
}

.page-summary {
  text-align: center;
  margin: 1em;
  font-size: 110%;
}

.page-content {
	border-top: 1px solid #ddd;
	margin-top: 1em;
	padding-top: 1em;
}

.item .description {
  opacity: 1.0;

  background: white;
  display: inline-block;
  padding: 0.5em 1em;
  vertical-align: bottom;
  text-align: left;

  position: absolute;
  bottom: 0px;
  margin-top: -4em;
  margin-left: -20%;
  height: auto;
  width: 40%;
}

.item img, .item iframe, .item .map {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top left;
  display: block;
  border: none;
}

.item .map canvas {
  left: 0px;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
  width: 100%;
}
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}
.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
.gallery .item {
  margin: 0px;
  height: 550px;
  overflow: hidden;
  text-align: center;
  background: #fff; /*#4d87e2*/
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

img.fullscreen {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 1000;
  background: white;
}
.gallery.fullscreen {
  height: 90%;
  top: 10%;
  position: absolute;
  background: white;
}
.gallery.fullscreen figure {
  height: 100%;
}

/* Project List (home) styling */

.project-list .o-grid__cell {
  margin-right: 20px;
}


/* Home Page styling */

.o-grid__cell input.c-field {
  border-radius: 0;
  border: 0.25px solid #ccc;
  border-bottom: 1px solid #96a8b2;
  font-size: 1.2em;
}

.o-grid__cell h3.projectTile {
  margin: 10px 0 3px 0;
}

.o-grid__cell h3.projectTile a {
  color: #4a76c2;
  text-decoration: none;
  margin-bottom: 20px;
}

.o-grid__cell h3.projectTile a {
  color: #000;
}

.o.grid__cell .project-preview-card {
  width: 100%;
  height: 100px;
  background-position: center center;
  border-radius: 10px;
  color: #fff;
  padding: 1px 14px 0 0;
  text-align: right;
  background-size: cover;
  text-align: right;
}

.su-001-bikelandscape {
  background-image: url('https://alpha.smartuse.ch/admin/fileadmin/download/static/img/SU-001-Bikelandscape.png');
}

.su-002-urbanfootprint {
  background-image: url('https://alpha.smartuse.ch/admin/fileadmin/download/static/img/SU-002-Urban-Footprint.png');
}

.o.grid__cell .project-preview-card p.author {
  margin: 10px 0 0 0;
}

.o.grid__cell .project-preview-card p.authorPerson,.o.grid__cell .project-preview-card p.date {
 margin: 0;
}

#map {
  width: 100%;
  height: 350px;
  background-color: #000;
  margin: 45px 15px;
}

/* Project Page styling */

.o-grid__cell .description {
  margin: 0 0 20px 0;
}

.o-grid__cell--width-5 .authorImage {
  width: 20px;
}

.o-grid__cell--width-5 .authorImage img {
  width: 100%;
}

.o-grid__cell .authorText p.author {
  margin: 0;
  color: #000;
}

.o-grid__cell .authorText p.authorPerson {
  margin: 0;
  color: #949494;
  font-size: 14px;
}


/* Mobile rendering */
@media only screen
  and (max-device-width: 812px) {

  .c-link .logo {
     width: 138px;
    height: 50px;
  }
}
