html { background: #fff; overflow-x: hidden; }
.hidden { display: none; }
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
.c-link-author {
  padding: 30px 10px 20px 20px;
}
.c-link-author img {
    height: 100%;
    width: 80%;
    max-width: 150px;
}
.logo {
	background: url("/img/SmartUse-Logo.png") left center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 193px;
	height: 70px;
	margin: 0px;
  margin-right: 10px;
	font-size: 0px;
}
.o-page-header {
  margin-top: -15px;
  float: right;
}

.page-footer {
  margin-top: 5em;
  margin-bottom: 50em;
}

.basemap {
  width: 100%; height: 40%;
  background-color: lightgreen;
}

.nav button {
	float: right;
	padding: 5px 15px;
	margin-right: 5px;
	margin-bottom: 15px;
	font-size: 120%;
	border: 1px solid #999;
	background: white;
}

p.author {
  margin-top: 0;
}

.page-summary {
  text-align: center;
  margin: 1em;
  font-size: 110%;
}

.page-content {
	border-top: 1px solid #ddd;
	margin-top: 1em;
	padding-top: 1em;
}

.item .description {
  opacity: 1.0;

  background: white;
  display: inline-block;
  padding: 0.5em 1em;
  vertical-align: bottom;
  text-align: left;

  position: absolute;
  bottom: 0px;
  margin-top: -4em;
  margin-left: -20%;
  height: auto;
  width: 40%;
}

/*
.story-nav ul, .story-nav li {
  list-style: none; margin-left: 0; padding-left: 0; margin-bottom: 1em;
}
.story-nav a { color: black; font-weight: bold; }
*/

.item img, .item iframe, .item .map {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top left;
  display: block;
  border: none;
}

.item .map canvas {
  left: 0px;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  width: 100%;
  height: 400px;
  top: 0px;
  overflow: hidden;
}
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}
.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
.gallery .item {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: #fff; /*#4d87e2*/
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

.fullscreen-button {
  width: 40px;
  height: 36px;
  background: white url('/img/fullscreen.png') no-repeat 50% 50%;
  background-size: contain;
  z-index: 2;
  position: absolute;
  top: 0px; right: 0px;
  border: 2px solid #fff;
  border-radius: 3px;
}
.fullscreen-button.active {
  border: 4px solid #fff;
}
.gallery.fullscreen {
  height: 100% !important;
  top: 0% !important;
  position: absolute;
  background: white;
}
.gallery.fullscreen figure {
  height: 100%;
}

/* Project List (home) styling */

.project-list .c-card {
  box-shadow: none;
  margin-right: 7px;
  margin-top: 0px;
}
.project-list .c-card a {
  text-decoration: none;
  color: black;
}
.project-list .c-card a:hover { color: blue; }
.project-list .c-card:hover {
  box-shadow: 1px 1px 3px black;
  z-index: 10; display: inline-table;
}

/* Home Page styling */

.o-grid__cell input.c-field {
  border-radius: 0;
  border: 0.25px solid #ccc;
  border-bottom: 1px solid #96a8b2;
  font-size: 1.2em;
}

.o-grid__cell h3.projectTile {
  margin: 10px 0 3px 0;
}

.o-grid__cell h3.projectTile a {
  color: #4a76c2;
  text-decoration: none;
  margin-bottom: 20px;
}

.o-grid__cell h3.projectTile a {
  color: #000;
}

/* Project Page styling */

.o-grid__cell .description {
  margin: 0 0 20px 0;
}

.o-grid__cell--width-5 .authorImage {
  width: 20px;
}

.o-grid__cell--width-5 .authorImage img {
  width: 100%;
}

.o-grid__cell .authorText p.author {
  margin: 0;
  color: #000;
}

.o-grid__cell .authorText p.authorPerson {
  margin: 0;
  color: #949494;
  font-size: 14px;
}

/* Fixed rendering */
.fixed {
  position: absolute;
  width: 100%; overflow: hidden;
}
.gallery.fixed {
  height: 40%; top: 0px;
}
.gallery-nav.fixed {
  height: 84px; top: 40%; z-index: 10;
}
.story.fixed {
  height: 50%; bottom: 0%;
  overflow-y: scroll;
}

/* Mobile rendering */
@media only screen
  and (max-device-width: 812px) {

  .c-link .logo {
     width: 138px;
    height: 50px;
  }
}
