body {
	font-family: 'Roboto',Helvetica,'Lucida Sans',sans-serif;
}
.logo {
	background: url("/img/SmartUse-Logo.png") left center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 123px;
	height: 45px;
	margin: 0px;
  margin-right: 10px;
	font-size: 0px;
  zoom: 0.9;
  float: right;
}
.fixed .o-page-header {
  margin-top: -15px;
  float: right;
}
#welcome {
	line-height: 150%;
}
.hidden { display: none; }
.text {
  font-size: 125%;
}
.home-content {
	margin: 4em 0;
}
.home-content .text {
	margin: 2em 0;
	color: white;
}
.home-content .text img {
	margin: 2em 0;
}

.home-symbols .col-md-4 {
	margin-top: 2em;
	background-repeat: no-repeat;
  background-position: 90%;
  background-size: contain;
	color: white;
	font-size: 120%;
}

.team-footer {
	margin-top: 1em;
	text-align: left;
	font-size: 80%;
}
.team-footer ul,
.team-footer li {
	list-style: none; margin: 0px; padding: 0px;
}

#featured, #featured .glider, #featured iframe {
	background-size: cover;
	background-repeat: no-repeat;
  background-position: 50% 50%;
	height: 400px;
}

#featured iframe {
	background-image: url('/img/welcome-loader.jpg');
}

#featured .glider .legend {
	background: transparent;
	color: white;
	text-align: center;
	/* box-shadow: 0px 6px 6px rgba(0,0,0,0.3); */
	text-shadow: 0px 3px 3px rgba(1,1,1,0.7);
	padding: 0px;
}

#featured .glider h4 {
  font-weight: bold;
	padding: 0.4em 0.4em 0 0.4em;
}

#featured .glider .legend {
  position: absolute;
  bottom: 0px;
  background: #f3c656;
  text-shadow: 1px 1px 1px grey;
  font-size: 134%;
  padding-bottom: 0.4em;
  border-top-right-radius: 30px;
}

/* The tall orange box */
@media only screen and (min-device-width: 812px) {
	#featured, #featured .glider, #featured iframe {
	  height: 800px;
	}
	#featured .glider .legend {
		padding: 1em 2em;
	}
	#featured .glider h4 {
		padding: initial;
		font-size: 2rem;
	}
}

.about-logos img {
	height: 140px;
	margin: 20px;
}

.btn-huge {
	font-size: 160%;
}

.page-footer {
  margin-top: 5em;
  text-align: center;
  margin-bottom: 2em;
}

#bottom ul {
	text-align: center;
	width: 100%;
	margin: 2em 0;
}
#bottom li {
	display: inline-block;
	list-style: none;
}
#bottom li::after {
	content: '_';
	vertical-align: super;
}
#bottom li:last-child::after {
	content: '';
}

#impressum ul { margin-top: 2em; }
#impressum ul, #impressum li {
	list-style: none;
}

.basemap {
  width: 100%; height: 40%;
  background-color: lightgreen;
}

.nav button {
	float: right;
	padding: 5px 15px;
	margin-right: 5px;
	margin-bottom: 15px;
	font-size: 120%;
	border: 1px solid #999;
	background: white;
}
@media only screen and (min-device-width: 812px) {
	.navbar-nav .nav-link::after {
	  content: '•';
	  padding-left: 1em;
	}
}
.navbar-nav .nav-item:last-child .nav-link::after {
  content: none;
}
.navbar-nav .nav-link {
  font-size: 142%;
  font-weight: bold;
  color: white !important;
  opacity: 1;
}

.rendering-container {
	margin: 3em 0em;

	border-style: solid;
	border-width: 10px 0px 10px 10px;
	border-color: white transparent transparent #008cba;

	padding-left: 10px;
}

.rendering-counter::before {
	content: '#';
}
.rendering-counter {
	color: #999;
	float: left;
	margin-left: -1.5em;
	font-size: 2em;
}

.side-info .organisation-name {
	font-size: 15pt;
}
.side-info div {
  margin: 0;
}
.side-info span { color: #999; }

.story {
	background: white; color: black;
	padding: 2em 0;
}
.story p > a {
	color: darkblue;
}

.story .page-meta h1 {
	font-weight: 500;
	overflow: hidden;
}

.page-meta {
	margin: 2em 0;
}

.page-meta p {
	margin: 0;
	color: #555;
}

p.author {
  margin-top: 0;
}

.page-summary {
  text-align: center;
  margin: 1em;
  font-size: 110%;
}

.description h2 a {
  text-decoration: none;
  color: #555;
  border-bottom: 1px dashed #555;
}
.rendering-header {
	color: #000;
	font-size: 150%;
	/*margin: 0.5em 0px;*/
	margin: -1.8em 0 0;
	position: absolute;
}

.res-sources {
	text-align: left;
	padding: 0;
}
.res-sources li {
	margin-top: 1em;
	list-style-type: none;
}
.res-sources li fmt {
	font-family: monospace;
	text-transform: uppercase;
	font-size: 90%;
	padding: 0.2em; margin: 0.5em;
	color: #999; background: #eee;
}

.license {
	text-transform: uppercase;
	padding: 0.2em; margin-right: 0.5em	;
	font-size: 90%;
	border: 1px solid #aaa;
	color: #333;
	max-width: 12em;
	display: inline-block;
	text-align: center;
}

.list-group-item .res-sources {
	margin: 0px; padding: 0px;
}
.list-group-item .res-sources li {
	display: inline-block;
	vertical-align: top;
	min-width: 25%;
}
.list-group-item .res-sources img,
.rendering-container .res-sources fmt {
	display: none;
}
.rendering-container .res-sources img {
	width: 2em; margin-right: 1em;
}
.rendering-container .res-sources p {
	margin-left: 3em;
}

#renderingsummary {
	margin-top: 2em;
}

.item .description {
  opacity: 1.0;

  background: white;
  display: inline-block;
  padding: 0.5em 1em;
  vertical-align: bottom;
  text-align: left;

  position: absolute;
  bottom: 0px;
  margin-top: -4em;
  margin-left: -20%;
  height: auto;
  width: 40%;
}

/*
.story-nav ul, .story-nav li {
  list-style: none; margin-left: 0; padding-left: 0; margin-bottom: 1em;
}
.story-nav a { color: black; font-weight: bold; }
*/
input.search { font-size: 140%; }
form .fa-search {
  font-size: 200%;
  right: 0px;
  position: absolute;
  margin: 7pt 20pt;
  opacity: 0.5;
}

.item img, .item iframe, .item .map {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top left;
  display: block;
  border: none;
}

.item .map canvas {
  left: 0px;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  width: 100%;
  height: 400px;
  top: 0px;
  overflow: hidden;
	margin-bottom: 1em;
}
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}
.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
.gallery .item {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: #fff; /*#4d87e2*/
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

.mermaid {
	max-width: none !important;
	border: 1px solid #ccc;
}

.side-button {
  width: 40px;
  height: 36px;
  background: white url('/img/fullscreen-black.png') no-repeat 50% 50%;
  background-size: contain;
  z-index: 2;
  /*position: absolute;
  top: 0px;
	right: -20px;*/
  border: 2px solid #fff;
  border-radius: 3px;

	float: left;
	position: absolute;
	cursor: pointer;

	margin-left: -67px;
	margin-top: 3em;

	opacity: 0.7;
}
.side-button.share-button {
	background-image: url('/img/share-black.png');
	margin-top: 6em;
}
.side-button.active {
  border: 4px solid #fff;
  box-shadow: 3px 3px 3px grey;
	background-color: white;
  position: fixed;
	margin: 0px;
  top: 10px;
	left: 10px;
	z-index: 1112;
}

figure.fullscreen {
	background: white;
  top: 0px !important;
  position: fixed !important;
	height: 100% !important;
	width: 100% !important;
	left: 0px !important;
	z-index: 1111;
}
html.fullscreen {
  overflow: hidden;
}

/* Project List (home) styling */

.project-list .project-card img,
.project-list .project-card { padding-top: 1em; }
.project-list .project-card .card {
	border: none; box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  margin-bottom: 1rem !important;
}
.project-list .project-card a { text-decoration: none; }
.project-list .project-card .card-text { color: #555; }
.project-list .project-card:hover { background: #00b0e9; }
.project-list .project-card:hover a { color: #00b0e9; }
.project-thumb {
  width: 128px; height: 128px;
  margin: 0px 20px 20px 0;
}
.project-list .project-card.featured .card-header {
	background: #fcfcfc;  /* For Thorben */
}
.project-list .project-card.featured .organisation {
	font-style: italic;
	float: right;
}
.project-list .project-card.featured .card-text {
	padding: 1em;
	height: 8.5em;
	margin-left: 1em; margin-top: 1em;
	font-size: 140%;
	overflow: hidden;
}
.project-list .project-card.featured .card-header img {
	float: left;
	margin-right: 20px;
	height: 200px;
	border-bottom: 2px solid #aaa;
}
.project-list .project-card .card-header img {
	margin: -0.75rem 0 0 0;
	padding-bottom: 10px;
}
.project-list .project-card .card-header {
	min-height: 4.7em;
	border-bottom: none;
}

/* Home Page styling */

.home-page {
  background: url(/img/SmartUse_header.jpg) no-repeat top;
  background-size: cover;
  width: 100%; padding-bottom: 50%;
  margin-bottom: 10px;
}
.home-page > div {
  position: absolute;
  top: 50px; left: 50px;
}
.home-page > div a { float: none; display: block; width: 165px; height: 60px; }
.home-page > div p { font-weight: bold; margin: 0; }

.o-grid.featured { margin-top: 2em; }

a.featured, a.featured h5, a.featured p
{ text-decoration: none; color: black; }

.o-grid__cell input.c-field {
  border-radius: 0;
  border: 0.25px solid #ccc;
  border-bottom: 1px solid #96a8b2;
  font-size: 1.2em;
}

.o-grid__cell h3.projectTile {
  margin: 10px 0 3px 0;
}

.o-grid__cell h3.projectTile a {
  color: #4a76c2;
  text-decoration: none;
  margin-bottom: 20px;
}

.o-grid__cell h3.projectTile a {
  color: #000;
}

/* Project Page styling */

.organisation-image {
	float: right;
	width: 256px;
}
.project-authors {
	margin-top: 1em;
}
.project-authors, .rendering-summary {
	clear: both;
}
.author {
	/* width: 20em;
	text-align: left;
	float: right; */
}
.author img {
  height: 55px;
	float: left;
	padding-right: 1em;
}
.author .fullname {
	font-weight: bold;
}
.author p {
  margin: 0; display: inline-block;
}
.author p, .author a {
  color: #333;
}

@media only screen and (min-device-width: 812px) {
	.author-card .action-call {
		float: right;
		width: 50%;
		margin-top: 0.5em;
	}
	.author-card .project-authors {
		clear: none;
	}
}

.share-buttons {
	margin: 1em 0;
}
.share-buttons i {
	margin-right: 1em;
}

.embedding .card-body {
	background: white;
}
.embedding .card-body a {
	color: black;
}

/* Fixed rendering */
.fixed {
  position: absolute;
  width: 100%; overflow: hidden;
}
.gallery.fixed {
  height: 40%; top: 0px;
}
.gallery-nav.fixed {
  height: 84px; top: 40%; z-index: 10;
}
.story {
  clear: both;
}
.story.fixed {
  height: 50%; bottom: 0%;
  overflow-y: scroll;
}

/* Mobile rendering */
@media only screen
  and (max-device-width: 812px) {

  .c-link .logo {
     width: 138px;
    height: 50px;
  }
	.gallery {
		overflow: visible;
	}
	.side-button {
		float: right;
		position: relative;
		background-color: transparent;
		border-color: transparent;
		margin-left: 0px;
		margin-right: -4px;
		left: 15px;
		clear: both;
	}
	.rendering-counter {
		display: none;
		/*float: left;
		display: block;
		margin-left: 0.6em;*/
	}

	.project-list .project-card.featured .card-header img {
		float: none;
	}
	.project-list .project-card.featured .card-text {
		height: auto;
	}
}
