html { background: #333; overflow-x: hidden; }
.hidden { display: none; }
body {
  font-family: "Roboto", sans-serif;
  /* height: 100%;  */
  /* margin: 2em 0; */
}
.logo {
	background: url("/img/SmartUse-Logo.png") left center no-repeat;
	background-size: cover;
	display: inline-block;
	width: 123px;
	height: 45px;
	margin: 0px;
  margin-right: 10px;
	font-size: 0px;
  zoom: 0.9;
  float: right;
}
.fixed .o-page-header {
  margin-top: -15px;
  float: right;
}

.page-footer {
  margin-top: 5em;
  text-align: center;
  /* margin-bottom: 50em; */
}

.basemap {
  width: 100%; height: 40%;
  background-color: lightgreen;
}

.nav button {
	float: right;
	padding: 5px 15px;
	margin-right: 5px;
	margin-bottom: 15px;
	font-size: 120%;
	border: 1px solid #999;
	background: white;
}

.page-meta p { margin: 0; }
p.author {
  margin-top: 0;
}
p.date {
  float: right;
}
p.date span { color: #999; }

.page-summary {
  text-align: center;
  margin: 1em;
  font-size: 110%;
}

.page-content {
	border-top: 1px solid #ddd;
	margin-top: 1em;
	padding-top: 1em;
}

.description h2 a {
  text-decoration: none;
  color: #555;
  border-bottom: 1px dashed #555;
}
.resource-header {
	color: #777;
	font-size: 150%;
	margin: 0.5em 0px;
}
.resource-summary,.project-authors {
	margin-top: 2em;
}

.item .description {
  opacity: 1.0;

  background: white;
  display: inline-block;
  padding: 0.5em 1em;
  vertical-align: bottom;
  text-align: left;

  position: absolute;
  bottom: 0px;
  margin-top: -4em;
  margin-left: -20%;
  height: auto;
  width: 40%;
}

/*
.story-nav ul, .story-nav li {
  list-style: none; margin-left: 0; padding-left: 0; margin-bottom: 1em;
}
.story-nav a { color: black; font-weight: bold; }
*/
input.search { font-size: 140%; }

.item img, .item iframe, .item .map {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top left;
  display: block;
  border: none;
}

.item .map canvas {
  left: 0px;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  width: 100%;
  height: 400px;
  top: 0px;
  overflow: hidden;
}
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}
.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
.gallery .item {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: #fff; /*#4d87e2*/
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

.fullscreen-button {
  width: 40px;
  height: 36px;
  background: white url('/img/fullscreen.png') no-repeat 50% 50%;
  background-size: contain;
  z-index: 2;
  /*position: absolute;
  top: 0px;
	right: -20px;*/
	float: right;
  border: 2px solid #fff;
  border-radius: 3px;
}
.fullscreen-button.active {
  border: 4px solid #fff;
  box-shadow: 3px 3px 3px grey;
  position: fixed;
  top: 10px;
	right: 50px;
	z-index: 1112;
}
figure.fullscreen {
	background: white;
  top: 0px !important;
  position: fixed !important;
	height: 100% !important;
	width: 100% !important;
	left: 0px !important;
	z-index: 1111;
}
html.fullscreen {
  overflow: hidden;
}

/* Project List (home) styling */

.project-list .project-card { padding-top: 1em; }
.project-list .project-card a { text-decoration: none; }
.project-list .project-card:hover { background: blue; }
.project-thumb {
  width: 128px; height: 128px;
  margin: 0px 20px 20px 0;
}

/* Home Page styling */

.home-page {
  background: url(/img/SmartUse_header.jpg) no-repeat top;
  background-size: cover;
  width: 100%; padding-bottom: 50%;
  margin-bottom: 10px;
}
.home-page > div {
  position: absolute;
  top: 50px; left: 50px;
}
.home-page > div a { float: none; display: block; width: 165px; height: 60px; }
.home-page > div p { font-weight: bold; margin: 0; }

.o-grid.featured { margin-top: 2em; }

a.featured, a.featured h5, a.featured p
{ text-decoration: none; color: black; }

.o-grid__cell input.c-field {
  border-radius: 0;
  border: 0.25px solid #ccc;
  border-bottom: 1px solid #96a8b2;
  font-size: 1.2em;
}

.o-grid__cell h3.projectTile {
  margin: 10px 0 3px 0;
}

.o-grid__cell h3.projectTile a {
  color: #4a76c2;
  text-decoration: none;
  margin-bottom: 20px;
}

.o-grid__cell h3.projectTile a {
  color: #000;
}

/* Project Page styling */

.project-authors, .resource-summary {
	clear: both;
}
.author {
	width: 20em;
	text-align: left;
	float: right;
}
.author img {
  height: 55px;
	float: left;
	padding-right: 1em;
}
.author .fullname {
	font-weight: bold;
}
.author p {
  margin: 0; display: inline-block;
}
.author p, .author a {
  color: #333;
}

.embedding .card-body {
	background: white;
}
.embedding .card-body a {
	color: black;
}

/* Fixed rendering */
.fixed {
  position: absolute;
  width: 100%; overflow: hidden;
}
.gallery.fixed {
  height: 40%; top: 0px;
}
.gallery-nav.fixed {
  height: 84px; top: 40%; z-index: 10;
}
.story {
  clear: both;
}
.story.fixed {
  height: 50%; bottom: 0%;
  overflow-y: scroll;
}

/* Mobile rendering */
@media only screen
  and (max-device-width: 812px) {

  .c-link .logo {
     width: 138px;
    height: 50px;
  }
}
