//- base template
doctype html
html
  head
    meta(charset='utf-8')
    title='Smart Use'

    link(rel='icon' href='/meta/favicon.ico')
    link(rel='manifest' href='/meta/manifest.json')

    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    link(rel='stylesheet' href='/theme/yeti.bootstrap.css' media='screen')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap',rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css')

    link(rel="apple-touch-icon-precomposed",href="/img/apple-touch-iphone.png")
    link(rel="apple-touch-icon-precomposed",sizes="72x72",href="/img/apple-touch-ipad.png")
    link(rel="apple-touch-icon-precomposed",sizes="114x114",href="/img/apple-touch-iphone4.png")
    link(rel="apple-touch-icon-precomposed",sizes="144x144",href="/img/apple-touch-ipad-retina.png")

    link(rel='stylesheet',href='/styles/custom.css')
    link(rel='stylesheet',href='/styles/smartuse.css')

    block head
      //- additional scripts and styles

  body
    block nav
      .navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
        .container
          a.navbar-brand(href='/')
            img(src='/img/SmartUse-Logo-White.png' width='150px' alt='Smart Use Logo' title='Home')
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav
              // .justify-content-center.d-flex.flex-fill
              li.nav-item
                a.nav-link(href='/studies') Case Studies
              li.nav-item
                a.nav-link(href='/labs') Labs
              li.nav-item
                a.nav-link(href='/about') Hintergrund
              li.nav-item
                a.nav-link(href='/faq') Fragen
              li.nav-item
                a.nav-link(href='/contact') Kontakt

    block top

    block content
      //- main page content

    block footer
      .container#footer
        .row
          .col-md-7.footer-info
            include snippets/contacts.pug

          .col-md-5.footer-newsletter
            p
              | Immer auf dem Laufenden bleiben?
            p
              a(href="https://smartuse.us17.list-manage.com/subscribe/post?u=4ffb5e217856ee5ca6e021c83&id=29f718ecf0" class="btn btn-secondary") 
                | Newsletter abbonieren
            //- include snippets/subscribe.html

      .container#bottom
        .row
          .col-md-12.text-center
            ul
              li
                a(href='/contact', class='contact') Support
              li
                a(href='/about#impressum') Impressum
              li
                a(href='/legal') Nutzungsbedingungen
              li
                a(href='https://github.com/smartuse') Open Source

    script(src='/vendor/jquery-3.2.1.min.js')
    script(src='/vendor/modernizr-3.5.0.min.js')
    script(src='/vendor/zepto.smoothscroll.js')
    script(src='/vendor/cookieconsent.min.js')

    script(src='/theme/popper.min.js')
    script(src='/theme/bootstrap.min.js')

    script(src='/scripts/util.js')
    script(src='/scripts/base.js')

    block scripts
      //- additional resources

    block analytics
      // Fathom website analytics
      script.
        !function(t,e,a,c,n,o){e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},n=t.createElement("script"),o=t.getElementsByTagName("script")[0],n.async=1,n.src="//cdn.usefathom.com/tracker.js",n.id="fathom-script",o.parentNode.insertBefore(n,o)}(document,window,0,"fathom"),fathom("set","siteId","ODZDJJPO"),fathom("trackPageview");
