extends public/base.pug

block scripts
  script(src='/scripts/faq.js')

block top
  .container(style="margin:100px")

block content
  .container.padding-top
    .row
      .col-md-12
        h2 FAQ
        p.text.section
          | Das SmartUse Projekt entstand und lebt im Spannungsfeld zwischen den Chancen und Risiken unserer durch Daten und Algorithmen getriebenen Welt. Es stellt die praxisrelevanten Aspekte in den Vordergrund und testet dabei die Implikationen und Herausforderungen für die (Raum-)Planung. Dieser Hintergrund bringt eine Reihe von ethischen, technischen, aber auch rechtlichen Fragen mit sich. Einen Teil dieser Fragen versuchen wir im Folgenden nachzugehen. Die Antworten sind nicht abschliessend und zumeist Teil einer laufenden Diskussion. Bei weiteren Fragen sind wir&nbsp;
          a(href='/contact') gerne erreichbar.


  .container.padding-top#faq
    .row
      .col-md-12
        .faq-c
          .faq-q
            span.faq-t +
            | Was meint ihr mit faktenbasierter Planung?
          .faq-a
            p
              | Im digitalen Zeitalter sieht unsere Welt aus wie zuvor. Sie verhält sich aber anders. Sie ist massiv vernetzt. Sensorik und mobile Rechner wie beispielsweise Smartphones tracken unseren Alltag zeitlich und räumlich.
            p
              | Die technologischen und wirtschaftlichen Skalierungseffekte sind so stark, dass wir eine Dominanz grosser Tech-Firmen in Kernbereichen befürchten müssen. In diesem Kontext wird das «System Planung» wie so manche andere «Expertendomäne» aufgebrochen. Smart Use führt auf einer neuen Plattform Daten zur gebauten Umwelt zusammen. So werden im digitalen Zeitalter Betroffene zu Beteiligten.
        .faq-c
          .faq-q
            span.faq-t +
            | Wer steht hinter dem Projekt und wie ist es entstanden?
          .faq-a
            p
              | Das Projekt war initial ein Zusammenschluss des Architekturbüros Hosoya Schaefer Architects, Datalets.ch und Joris Van Wezemael in der Arbeitsgemeinschaft SmartUse. Inzwischen wurde dieses Zweckbündnis in einer GmbH formalisiert. Die drei Parteien sind je Teilhaber der SmartUse GmbH (CHE-338.123.960).
            p
              | Ein Kernthema und gleichzeitig Chance der Digitalisierung ist interdisziplinäres Arbeiten. So haben wir mit unseren professionellen Backgrounds in Architektur & Städtebau, Daten & Software und Geographie & Raumentwicklung einen ersten Schritt gemacht und das SmartUse Projekt ins Leben gerufen.
        .faq-c
          .faq-q
            span.faq-t +
            | Was sind nutzergenerierte Daten und was versteht ihr darunter?
          .faq-a
            p
              | Grundsätzlich gibt es zwei Arten von nutzergenerierten Daten. Zum einen passiv generierte Daten, die wir als Datenspuren jeden Tag teils wissentlich, teils unwissentlich hinterlassen. Zum Anderen Daten, die wir bewusst als Autor*in verfassen.
            p
              | Zum Beispiel ein Bild auf Instagram, ein Youtube Video oder ein Kommentar dazu, ein Facebook Post oder einen Eintrag in der Wikipedia oder OpenStreetMap, ein Check-In bei Foursquare, ein Review in einem Verzeichnis und vieles weitere mehr. Mit der Veröffentlichung eines Eintrags wird der Nutzer zum Urheber und hat gleichzeitig einen Eintrag - ein Datum - mit einer eindeutigen Adresse generiert. Anders verhält es sich mit passiv generierten Daten. Zum Beispiel Mobilfunkdaten. Diese werden technisch benötigt, um Anrufe und SMS, aber auch Datenpakete zustellen zu können. Dazu muss das Telefon in einer sogenannten Zelle angemeldet sein, die einen eindeutigen Standort hat. In aggregierter und anonymisierter Form können damit Aussagen zu Anzahl an Personen und eine Zuordnung des Verkehrsmittels gemacht werden.
        .faq-c
          .faq-q
            span.faq-t +
            | Was bringen nutzergenerierte Daten?
          .faq-a
            p
              | Auf der Seite der Crowd-Sourced Daten kann von einem responsiven System gesprochen werden.
            p
              | Zum Beispiel werden diverse qualifizierende Metadaten zu Geometrien wie Strassen und Gebäuden von Nutzern nach und nach hinzugefügt. Strassenbeläge, Velospuren oder Ladenöffnungszeiten werden unvollständig aber “selbstheilend” nachgetragen. Posts auf Social Media können als Indikatoren für Aktivität und “Urbanität” einer bestimmten Nutzergruppe gelesen werden.Passiv erhobene Daten decken haben zumeist einen geringere statistische Verzerrung, sowie gleichmässigere Abdeckung und können so deutlich zuverlässigere Aussagen zu Nutzerfrequenzen und dem räumlichen Fussabdruck machen.
        .faq-c
          .faq-q
            span.faq-t +
            | Was ist Open Data?
          .faq-a
            p
              | Der Begriff Open Data bezieht sich vor Allem auf die Publikation von Daten und betrifft Private, Unternehmen und insbesondere den Staat selbst. Ein Teil der offenen Daten schweizerischer Behörden auf Gemeinde-, Kantons-und Bundesebene publizieren ihre Datensätze bereits auf
              a(href='https://opendata.swiss', target='_blank') opendata.swiss
              |  und anderen Portalen. Der nationale Geodienst Swisstopo zum Beispiel publiziert schweizweite Datensätze in Kartenform auf
              a(href='https://map.geo.admin.ch') map.geo.admin.ch
              | .
            p
              | Was macht nun jedoch einen Datensatz zu einem wirklich "offenen" Datensatz? Die
              a(href='http://opendefinition.org/od/2.1/de/', target='_blank') Open Definition
              |  beschreibt etwas dann als offen, wenn das Werk offen verfügbar ist. Es also
            ul
              li eine offene Lizenz oder einen offenen Status hat
              li eine angemessene Zugänglichkeit gewährleistet ist
              li maschinenlesbar ist
              li als offenes (Datei-)Format vorliegt
            ul
              li Eine offene Lizenzen ist u.a. gegeben, wenn
              li eine kostenfreie Nutzung des lizenzierten Werks möglich ist
              li Die Weiterverbreitung möglich ist
              li Die Herstellung von Derivaten möglich ist
            p
              | Diese Definition führt bereits zu einer Reihe an Implikationen auf gesellschaftlicher, rechtlicher und technischer Ebene. Dazu hat zum Beispiel die Open Knowledge Foundation hat ein
              a(href='http://opendatahandbook.org/', target='_blank') Handbuch
              |  (englisch) veröffentlicht und ermöglicht so einen tieferen Einstieg in die Thematik.
        .faq-c
          .faq-q
            span.faq-t +
            | Wozu Open Data?
          .faq-a
            p
              | Nach der
              a(href='https://okfn.org/opendata/why-open-data/', target='_blank') Grundcharta
              |  der Open Knowledge Foundation dienen offene Daten drei Grundprinzipien.
            ol
              li
                b Transparenz
                br
                |         In einer gut funktionierenden demokratischen Gesellschaft müssen die Bürgerinnen und Bürger wissen, was ihre Regierung tut und wie Regulationen wirken. Um das zu gewährleisten, sind Transparenz und demokratische Kontrolle notwendige Voraussetzungen, ebenso der freie Zugang zu staatlichen Daten und die Möglichkeit, diese Informationen mit anderen Bürger*innen zu teilen. (cf.
                a(href='https://okfn.de/themen/open_data/', target='_blank') https://okfn.de/themen/open_data/
                | )
              li
                b Gesellschaftliche und wirtschaftliche Aktivitäten
                br
                |         Gute, strukturierte Daten sind die Grundlage für zivilgesellschaftlich organisierte Gruppen, aber auch Startups und Unternehmen
              li
                b Partizipation und zivilgesellschaftliches Engagement
                br
                |         Daraus leitet sich ab, dass nur ein offener Zugang zu Daten und Analysetools zivilgesellschaftliches Engagement und somit auch Partizipation ermöglicht. Partizipation kann dabei auf verschiedenen Ebenen geschehen. Vom Sammeln und kuratieren von Datensätzen, über Programmieren von Tools hin zur Auswertung, Darstellung und Interpretation der Daten oder einfachen Weitergabe und Verbreitung.
            p
              | All dies gilt, solange der Nutzen nicht der Privatsphäre einzelner entgegensteht. Viele staatliche Daten, teilweise bereits Metadaten, fallen sehr häufig unter diese Definition. Der Staat dient dem Allgemeinwohl und wird dafür von der Zivilgesellschaft und seinen Unternehmen durch Steuern finanziert. Somit sollten seine Investitionen auch wieder der Allgemeinheit zu Gute kommen. Public money, public good. Smart Use möchte hier einen Beitrag leisten, indem zum Beispiel der Source Code der Plattform und der Code hinter den Kartendarstellungen frei auf
              a(href='https://www.github.com/smartuse', target='_blank') GitHub
              |  verfügbar sind. Die Aufbereitung der Datenanalyse hinter den Fallbeispielen und Labs steht im Zentrum unserer Arbeit im Folgeprojekt
              a(href='https://www.cividi.ch', target='_blank') Cividi
              | . Wir möchten, dass die Analysen auch für Laien nachvollziehbar und für Interessierte reproduzierbar werden.
        .faq-c
          .faq-q
            span.faq-t +
            | Wieso nutzt Smart Use nutzergenerierte Daten?
          .faq-a
            p
              | Das Projekt ist ein Pilot und testet daher unterschiedliche Ansätze, um Raumplanung und Städtebau stärker auf Daten und belastbare Aussagen abzustützen und vom Nutzer her zu denken. Dazu wurden u.a. auch nutzergenerierte Daten verwendet - Swisscom Mobility Insight, aber auch OpenStreetMap und andere Crowd-Sourced Plattformen, wie Bikeable.ch.
        .faq-c
          .faq-q
            span.faq-t +
            | Wird mein ganz persönliches Nutzungsverhalten analysiert?
          .faq-a
            p
              | Nein. Der einzelne Datensatz hat für die Planung wenig Relevanz. Nur aggregierte und bereits auf spezifische Fragestellungen hin verdichtete Datensätze kommen in Frage. Einträge unter einem Schwellenwert, der die Anonymität kleiner Gruppen oder Samples beeinträchtigen würde werden beispielsweise herausgefiltert. Das bedeutet, dass zum Einen im ganzen Prozess nicht auf eine Einzelperson zurückgeschlossen werden kann und zum Anderen, dass auch die Auswertung keine Rückschlüsse erlaubt.
        .faq-c
          .faq-q
            span.faq-t +
            | Wie kann ich widersprechen?
          .faq-a
            p
              | Der Nutzung eigener Beiträge jeweils im Rahmen der genutzten Plattform. Bei Mobilfunkdaten gibt es dazu eine Möglichkeit beim jeweiligen Anbieter. Das Projekt Smart Use selbst erhebt oder speichert keine entsprechenden Daten.
        .faq-c
          .faq-q
            span.faq-t +
            | Was ist mein Vorteil?
          .faq-a
            p
              | Beteiligung. Keine direkte, demokratisch legitimierte Beteiligung. Aber ein Anteil am Entscheidungsprozess. Nur wenn wir als digitalisierte Gesellschaft eine gemeinsame Sprache finden, können wir die Chancen beginnen zu nutzen. Dazu gehört auch die Frage nach Missbrauch, wer am Ende tatsächlich profitiert und vielen weiteren Themen.
        .faq-c
          .faq-q
            span.faq-t +
            | Was ist eine Datenspende?
          .faq-a
            p
              | Datenspenden können ähnlich Blutspenden für zivilgesellschaftliches Engagement gedacht werden.
            p
              | Der moderne sekulare Staat stützt sich neben einem Gemeinwesen, dass durch Steuern finanziert und Wahlen legitimiert ist, auch auf Engagement des Individuums. Zum Beispiel durch finanzielle Unterstützung, Blutspenden etc. Analog dieser Form der Spende kann auch eine Datenspende dem Gemeinwesen dienen. Verschiedene journalistische Projekte haben in den letzten Jahren mittels Datenspenden zum Beispiel politische Netzwerke und -abhängigkeiten aufgedeckt oder die zugrundeliegenden Algorithmen untersucht (
              a(href='https://netzpolitik.org/2019/facebooks-algorithmus-formt-unser-leben-dieser-hacker-will-herausfinden-wie/', target='_blank') Beispiel 1
              | ,
              a(href='https://openschufa.de/', target='_blank') Beispiel 2
              | ). Dies durch die Spende eines sicheren und isolierten Zugangs zu hunderten Twitteraccounts. Aber nicht nur ein Zugangsschlüssel, sondern auch ein einmalig erzeugter Datensatz kann gespendet werden.
        .faq-c
          .faq-q
            span.faq-t +
            | Was ist Frictionless Data?
          .faq-a
            p
              | Um Daten nachhaltig zugänglich und nutzbar zu machen braucht es geeignete Standards.
            p
              | Das SmartUse Projekt nutzt dazu den von der Open Knowledge Foundation lancierten
              a(href='https://frictionlessdata.io/specs/', target='_blank') Frictionless Data Standard
              | . Die Philosophie dahinter zielt auf einen einfachen, erweiterbaren, menschenbearbeitbaren und gleichzeitig maschinenlesbaren, wiederbenutzbaren und technologieunabhängigen Standard. Dazu fokussiert Frictionless Data auf eine leichtgewichtige Verpackung von Datentypen, die weborientiert (JSON-Standard), dezentralisiert, offen und in existierender Software integrierte Spezifikation. Das ermöglicht Plattform, Geräte und softwareübergreifende Kompatibilität. Zudem ist jedes Datenpaket so aufgebaut, dass zentrale Themen der Datennutzung wie Lizenzierung und Validierung vereinfacht werden.
        .faq-c
          .faq-q
            span.faq-t +
            | Cividi? SmartUse? Smart Use? SmartUse GmbH?
          .faq-a
            p
              | Verwirrend, aber einfacher als es anmutet. Smart Use ist der ursprüngliche Projektname und bis heute daher Haupttitel. Die Arbeitsgemeinschaft dahinter hiess SmartUse ARGE, wie dann auch die neu gegründete GmbH.
            p
              | In der Neuorientierung erweiterte sich unser Fokus stark auf eine Reihe von Themen im sogenannten Civic Tech Umfeld, sodass Smart Use als raumplanungsbezogener Titel nicht mehr angebracht schien. So entstand Cividi. Civic data intelligence - digitale Werkzeuge für die analoge Stadt.
