extends public/base.pug

block top
  .container(style="margin:100px")

block content
  .container.padding-top
    .row.justify-content-md-center
      .col-md-10
        unless page.hideTitle
          h1
            = page.title
          hr
        .text.section
          = content
