extends public/base.pug

block scripts
  script(src='/scripts/front.js')
  script(src='/vendor/glider.js')

block head
  link(href='/vendor/glider.min.css',rel='stylesheet')
  //link(href='/vendor/gallery.prefixed.css',rel='stylesheet')
  
block top
  .container(style="margin:100px")

block content
  .container.padding-top.padding-bottom
    .row.justify-content-md-center
      .col-md-10
        .text.section#welcome
          = content

  .container.padding-top
    .row.justify-content-md-center
      .col-md-10.center
        form(action='/search')
          i.icon.fa.fa-search
          input.form-control.form-control-lg.search(name='q',placeholder='Suchen ...')

  .container#home-projects
    .row(project-category='labs').justify-content-md-center
    .row.padding-top.justify-content-md-center
      .col-md-8.text-center
        a.btn.btn-lg.btn-secondary(href='/search?all') Mehr ...
